<div class="container">
	<div class="col-md-12">
		<h2>简历辅导（测试功能）说明</h2>

		<br><br>
		<p>
在过去一年中，我修改过上百份简历，从我擅长的金融、投行、PE领域，到完全陌生的房地产、教育、研究生、程序员行业，<br>
我发现，绝大多数人都没有花很多功夫去酌字酌句地修改这一篇可能改变自己人生轨迹的文字。<br>

<br>我所看到的简历普遍有几个特点：<br>

<li>用了从学校或者网上随便下载的模板，各种图标和色块满天飞，一眼就能看出来不够专业性，输在起跑线上；
<li>无论拥有很好的工作实习经历还是缺乏经验，都因为语言天分不足而不知道如何包装自己，把机会让给更会包装自己的人；
<li>不知道如何处理自身劣势：空档期怎么写、被公司裁员怎么写、因为男朋友分手而高考失利怎么写，最终写出一份处处被拒的简历；

<br><br>
<span class="emphasis">因此，我开发了“简历黑客”这款产品。我希望，每个人都能够凭借自己的本领，描绘出最好的自己。</span><br>
(如果不确定我是谁，可以看一下我的<a href="http://dyz.life/">个人博客</a> 或者<a href="https://cn.linkedin.com/in/davidyzhu/zh-cn">领英主页</a>。)<br><br>

在人人都用美颜相机提升颜值的年代，不要因为简历错失了下一个提薪30%的机会。<br><br>

<span class="emphasis">简历辅导功能属于测试期，我会在支付后对你提交的简历进行2次修改</span>。我不会逐字逐句地修改（以后会升级研发让系统可以自动提升文案），但会根据我的经验提出修改意见。第二稿之后的版本会是直接可以发给HR的实战版本。<br>


	</div>
	<div class="row" style="margin-top:6%">
		<div class="col-md-6 col-xs-12" style="text-align:center">
			<div>
				<%= image_tag("wechat399.jpg", style: "max-width:300px;", alt: "微信支付二维码") %>
			</div>
			<div style="padding-bottom:10%;">
			<i style="font-style:italic;">支付后请发截图到微信号"dyzpublic"进行确认 <br> 我知道你在想什么，但公司还在注册只能先这样了。。</i>
		</div>
		</div>
		<div class="col-md-6 col-xs-12" style="padding-bottom:10%;">
			<h3 style="text-align:center;margin-top:16%;">或输入邮件中收到优惠码</h3>
			<%= simple_form_for(@user, :url => confirm_user_path(@user,:resume_id=>@resume.id), method: :post) do |f| %>
				<%= f.input :confirm_code, :label => "." %>
				<%= f.submit "Submit" %>
			<% end %>
		</div>

	</div>
</div>
