<h1> Hello World! </h1>



<div id="froala-editor">
  <h3>Click here to edit the content</h3>
  <p>Enabling the <strong>toolbarVisibleWithoutSelection</strong> option makes the inline WYSIWYG HTML editor to appear as soon as you click in the editable area and not only when you select text.</p>
</div>


<script>
  $(function() {
    $('div#froala-editor').froalaEditor({
      toolbarInline: true,
      charCounterCount: false,
      toolbarButtons: ['bold', 'italic', 'underline', 'strikeThrough', '-', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'indent', 'outdent', '-', 'insertImage', 'insertLink', 'undo', 'redo'],
      toolbarVisibleWithoutSelection: false
    })
  });
</script>