<link rel="stylesheet" href="css_url">
<%= @user.email  %> 用户的 <%= @resume.id %>已生成订单
请确认是否付款和发送购买码
<%= link_to("前去发码",admin_users_url)%>
<p class="red bold" style="color: red; font-weight: bold">A test email</p>
