<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <table>
      <thead>
        <tr>
            Email
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr><td><%= user.email %><td><tr>
                  <%= user.resume.first.answer00 %>
        <% end %>
      </tbody>
    </table>

  </div>

</div>
