

        <div class="row-wrp brdr-cont">
            <div class="how-it-work-wrp">
                <h2>开始填写简历</h2>
                <div id="letterSubTitle" class="sub-title">It's the easiest way to create a perfect cover letter!</div>
                <!--end sub-title-->
                <div class="step-wrap-cln">
                    <div class="steps">
                        <img src="//cdn-us-ec.yottaa.net/52e2a59b63e31e54d4003d89/www.livecareer.com/v~13.3e6/builder/images/hiw/icon1.png?yocs=p_&amp;yoloc=us" width="225" height="147" alt="" />
                    </div>
                    <div class="steps">
                        <img src="//cdn-us-ec.yottaa.net/52e2a59b63e31e54d4003d89/www.livecareer.com/v~13.3e6/builder/images/hiw/icon2.png?yocs=p_&amp;yoloc=us" width="217" height="169" alt="" />
                    </div>
                    <div class="steps">
                        <img src="//cdn-us-ec.yottaa.net/52e2a59b63e31e54d4003d89/www.livecareer.com/v~13.3e6/builder/images/hiw/icon3.png?yocs=p_&amp;yoloc=us" width="249" height="108" alt="" />
                    </div>
                </div>
                <!--end step-wrap-cln-->
                <div class="cta-hiw-wrp">

                  <%= link_to '开始',page1_user_resumes_path,class: "col-md-4 col-md-offset-4 btn btn-primary"  %>

                </div>
            </div>
            <!--end how-it-work-wrp-->
        </div>
        <!--end row-wrp-->
<!-- 
  <div class="row-wrp brdr-cont">
      <div class="how-it-work-wrp">
          <h2>开始填写简历</h2>
          <div id="letterSubTitle" class="sub-title">It's the easiest way to create a perfect cover letter!</div>

          <div class="step-wrap-cln">
              <div class="steps">
                  <img src="//cdn-us-ec.yottaa.net/52e2a59b63e31e54d4003d89/www.livecareer.com/v~13.3e6/builder/images/hiw/icon1.png?yocs=p_&amp;yoloc=us" width="225" height="147" alt="" />
              </div>
              <div class="steps">
                  <img src="//cdn-us-ec.yottaa.net/52e2a59b63e31e54d4003d89/www.livecareer.com/v~13.3e6/builder/images/hiw/icon2.png?yocs=p_&amp;yoloc=us" width="217" height="169" alt="" />
              </div>
              <div class="steps">
                  <img src="//cdn-us-ec.yottaa.net/52e2a59b63e31e54d4003d89/www.livecareer.com/v~13.3e6/builder/images/hiw/icon3.png?yocs=p_&amp;yoloc=us" width="249" height="108" alt="" />
              </div>
          </div>

          <div class="cta-hiw-wrp">
            <%#= link_to '开始',page1_user_resumes_path,class: "col-md-4 col-md-offset-4 btn btn-primary"  %>
          </div>
      </div>

  </div> -->
