<div class="container">
	<div class="col-md-12 auto-min-height">



  <%= simple_form_for  [:user, @resume], url: page1_white_commit_user_resume_path(@resume), controller:'user/resumes', action:'page1_white_commit', method: 'post' do |r| %>
		<p><%= r.input :resume_name, required: true, label: '简历名称',placeholder: '请给这份简历命名，如“XX公司XX职位简历”',input_html: { class: "form-control"} %></p>
		<p><%= r.input :name_resume, required: true, label: '你的全名',placeholder: '如果有英文名，可以加在中文名的后面',input_html: { class: "form-control"} %></p>

	     <%= r.submit "开始编辑简历", class:"btn btn-secondary text-uppercase flat animation", data: { disable_with: "提交中..." } %>

	  <% end %>

			</div>
		</div>
