<div class="col-md-12 auto-min-height">

  <h1>第三步：用两段话介绍自己最近2-3年做过的事</h1>
	<h2>如果感触社会，就写毕业到求职期间自己学习了什么。</h2>
	<h2>如果转行，就写为什么想转行，过去的哪些经历对Rails开发有什么帮助。</h2>

  <%= simple_form_for  [:user, @resume],url: page3_commit_user_resume_path(@resume),method: :post do |r| %>


  <p>
    <%= r.input :past_description1, label: '第一自然段',placeholder: '过去做的哪些事对你的编程开发技能有所帮助？',input_html: { class: "form-control"} %>
  </p>
  <p>
    <%= r.input :past_description2, label: '第二自然段',placeholder: '业余时间都学习哪些知识技能，看什么样的书籍，follow什么样的博客？',input_html: { class: "form-control"} %>
  </p>

	<p>实例：【To Come】

  <%= r.submit "保存并进入下一步", class:"btn  btn-secondary text-uppercase flat animation", data: { disable_with: "提交中..." } %>
  <% end %>

</div>
