<div id="froala-editor">

<div id="cv" class="instaFade">

	<div class="mainDetails">

		<div id="name">
			<h1 class="quickFade delayTwo">你好，我是xxx</h1>
			<h3 class="quickFade delayThree">  一个擅长解决问题、乐于助人的快速学习者 </h3>
		</div>

		<div class="clear"></div>

	</div>

	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>关于我</h1>
				</div>

				<div class="sectionContent">
					<p>我曾是一名产品经理,毕业于四川大学。在过去的两年里,我从零开始主导上线了www.example.com, 一个跨境电子商务平台，
            并参与了世界工厂网的迭代工作,这份工作经历让我具备良好的逻辑思维能力, 锻炼了我的团队协作能力,培养了我在高强度工作环境下的“作战”能 力。
            在团队研发项目的过程中， 我逐渐对开发产生了浓厚的兴趣，希望自己通过写code实现心中的功能，于是开始学习程序的基础知识，
            自己写一些简单的html。后来报名XXX课程并经过了3个月的高强度训练，快速学习到了编程的高阶技能。
          </p>
				</div>

			</article>

			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>我做过什么</h1>
			</div>

			<div class="sectionContent">
				<article>
					<p>在进入编程行业之前，我在同心行业有着3年的网络设计咨询师经验，曾经带过10人团队，
            经过1.5的时间成功完成对德国电信运营商Deutsche Telecom的网络升级服务交付，
            以及其他数十个面向全球各个运营商的服务交付/咨询项目。
            这段经历让我懂得快速学习、勇于承担、 乐于分享和善于沟通是成为一名优秀工程师的必备素质。</p>
					<p>由于电信行业发展速度变慢，越发意识到如果继续留在本行业，自己的学习速度会逐渐降低， 于是决定从事互联网相关的行业。
            在于合作伙伴创业的几个月中，我实现了从零基础到把App上架到 苹果App Store，经历了从一个简单的想法，到学习Xcode/Swfit开发基础，
            再到搭建应用基本框架、 UI/UX设计、网络交互、数据库设计，和App审核并上架这一整套流程。由于在App开发过程中对后端运作原理 兴趣越来越浓，
            希望找到一个合适的技术栈实现自己对全栈技能的不全，在加上机缘巧合，我有幸 参加了Ruby on Rails界世界级教练Xdite在北京开设的线下课程，
            获得了超过预期的回报： 除了使用Ruby on Rails快速开发之外，还有关于项目敏捷管理、User Story、Growth Hacking、
            团队协作、Onboarding、代码及网站性能优化和SEO等等技术之外的高级技能。</p>
				</article>
			</div>

			<div class="clear"></div>
		</section>

		<section>

			<div class="sectionTitle">
				<h1>为何应聘</h1>
			</div>

			<div class="sectionContent">
				<article>
					<p>作为 Ruby Conf China 的赞助商，相信贵公司是一家优秀的公司，
            原因有二：<br>
						<br> 1. 愿意回报技术社区,促进行业技术交流与发展;
            <br> 2. 愿意贡献公司的社会价值。
						<br>
						<br> 区块链技术目前虽然有被低估的可能，
            但在无可否认的是未来它将持续影响并深刻改 变我们的生活场景。
            贵公司为推动国内区块链行业发展做出了很多探索和尝试，
            这种深刻洞见和实干精神深深的吸引着我，所以我非常希望能加入贵公司，
            用自己的 Rails 、 Growth Hack 等技术为公司贡献自己的力量，推进区块链的发展。</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>为何选我</h1>
			</div>

			<div class="sectionContent">
				<article>
					<ul>
						<li>具有较强的独当一面的能力，同时擅长使用各种工具盒手段对现有产品进行改进</li>
						<li>成长速度很快、学习欲望极强，可以快速适应公司的开发需求</li>
						<li>除了程序开发，我还懂得项目管理、Growth Hack，并且拥有扎实的营销技能，可以从不同维度考虑产品开发的方向</li>
					</ul>
				</article>
			</div>

			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>项目展示</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h4>DesignDeck - 设计委托接案快3倍</h4>
					<p>这是我学习Ruby on Rails第4周到第7周的与团队协作开发出的作品。注册用户可以在这个网站上
					提交设计委托、和接到委托的设计师从项目开始到结案的全过程中进行高效的交流。作为项目的
				主程序员，我负责设计项目架构、网站整个后端、完成了大部分业务流程的逻辑实现，并参与了部分前端
			美化和Onboarding的工作。</p>
					<p>
						<%= image_tag("设计.jpg", class: "img-responsive") %>
					</p>

					<br>

					<h4>LawFrim - 为你摆平一切</h4>
					<p>这是我以个人身份接到的外包开发项目。注册用户可以在这个网站上
						提出法律问题，律师用户可以对这些法律问题进行回答，好的答案会进行下一步一对一深度
						法务咨询。作为项目的唯一开发人员，我独立完成了所有的项目规划、后端，并在另外一名外包
					设计师的协助下完成了所有的前端页面美化和Onboarding文案的布局。</p>
					<p>
						<%= image_tag("法律.jpg", class: "img-responsive") %>
					</p>

					<br>

					<h4>Eatgether - 好玩不尴尬,吃饭认识TA</h4>
					<p>这是我在业余时间与3个程序员朋友协作开发出的作品。注册用户可以在这个网站上
					提交邀约、游览其他人发起的约饭邀约，并且申请约饭以及约饭后填写反馈。作为项目的
				主程序员，我负责了项目的后端架构、用户使用流程实现，并主导了和Onboarding的撰写和实现。</p>
					<p>
					  <%= image_tag("约饭.jpg", class: "img-responsive")%>
					</p>
				</article>
			</div>

			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>联系方式</h1>
			</div>

			<div class="sectionContent">
				<article>
					<ul>
						<li>手机：188-8888-8888 </li>
						<li>邮箱：resumehack@fullstack.com </li>
						<li>GitHub：https://github.com/ResumeHack </li>
						<li>技术博客：https://resumehack.logdown.com</li>
					</ul>
				</article>
			</div>

			<div class="clear"></div>
		</section>

	</div>
</div>
<%= link_to "返回简历后台", user_resumes_path, class: "col-md-4 col-md-offset-4 btn btn-primary" %>
<br><br><br><br>
</div>
