<div id="froala-editor">

<div id="cv" class="instaFade">

	<div class="mainDetails">

		<div id="name">
			<h1 class="quickFade delayTwo">你好，我是xxx</h1>
			<h3 class="quickFade delayThree">  一个擅长解决问题、乐于助人的快速学习者 </h3>
		</div>

		<div class="clear"></div>

	</div>

	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>关于我</h1>
				</div>

				<div class="sectionContent">
					<p>我曾是一名产品经理,毕业于四川大学。在过去的两年里,我从零开始主导上线了www.example.com, 一个跨境电子商务平台，
            并参与了世界工厂网的迭代工作,这份工作经历让我具备良好的逻辑思维能力, 锻炼了我的团队协作能力,培养了我在高强度工作环境下的“作战”能 力。
            在团队研发项目的过程中， 我逐渐对开发产生了浓厚的兴趣，希望自己通过写code实现心中的功能，于是开始学习程序的基础知识，
            自己写一些简单的html。后来报名XXX课程并经过了3个月的高强度训练，快速学习到了编程的高阶技能。
          </p>
				</div>

			</article>

			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>我做过什么</h1>
			</div>

			<div class="sectionContent">
				<article>
					<p>在进入编程行业之前，我在同心行业有着3年的网络设计咨询师经验，曾经带过10人团队，
            经过1.5的时间成功完成对德国电信运营商Deutsche Telecom的网络升级服务交付，
            以及其他数十个面向全球各个运营商的服务交付/咨询项目。
            这段经历让我懂得快速学习、勇于承担、 乐于分享和善于沟通是成为一名优秀工程师的必备素质。</p>
					<p>由于电信行业发展速度变慢，越发意识到如果继续留在本行业，自己的学习速度会逐渐降低， 于是决定从事互联网相关的行业。
            在于合作伙伴创业的几个月中，我实现了从零基础到把App上架到 苹果App Store，经历了从一个简单的想法，到学习Xcode/Swfit开发基础，
            再到搭建应用基本框架、 UI/UX设计、网络交互、数据库设计，和App审核并上架这一整套流程。由于在App开发过程中对后端运作原理 兴趣越来越浓，
            希望找到一个合适的技术栈实现自己对全栈技能的不全，在加上机缘巧合，我有幸 参加了Ruby on Rails界世界级教练Xdite在北京开设的线下课程，
            获得了超过预期的回报： 除了使用Ruby on Rails快速开发之外，还有关于项目敏捷管理、User Story、Growth Hacking、
            团队协作、Onboarding、代码及网站性能优化和SEO等等技术之外的高级技能。</p>
				</article>
			</div>

			<div class="clear"></div>
		</section>

		<section>

			<div class="sectionTitle">
				<h1>为何应聘</h1>
			</div>

			<div class="sectionContent">
				<article>
					<p>作为 Ruby Conf China 的赞助商，相信贵公司是一家优秀的公司，
            原因有二：<br>
						<br> 1. 愿意回报技术社区,促进行业技术交流与发展;
            <br> 2. 愿意贡献公司的社会价值。
						<br>
						<br> 区块链技术目前虽然有被低估的可能，
            但在无可否认的是未来它将持续影响并深刻改 变我们的生活场景。
            贵公司为推动国内区块链行业发展做出了很多探索和尝试，
            这种深刻洞见和实干精神深深的吸引着我，所以我非常希望能加入贵公司，
            用自己的 Rails 、 Growth Hack 等技术为公司贡献自己的力量，推进区块链的发展。</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>为何选我</h1>
			</div>

			<div class="sectionContent">
				<article>
					<ul>
						<li>年纪：年轻的申请者=“年轻有体力”；年纪偏大的申请者=“个性成熟稳重”</li>
						<li>性格：喜欢学习，不断接触新的知识；性格独立，能够独挡一面；性格随和，能够和不同背景的人团队作战</li>
						<li>经历：曾经从事过相关行业；不同行业培养出的新视角；某个高强度、高压力工作带来的抗压能力和高效率工作习惯</li>
					</ul>
				</article>
			</div>

			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>项目展示</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h4>DesignDeck-设计委托接案快3倍</h4>
					<p>设计网站描述</p>
					<p>
						<%= image_tag("设计.jpg", class: "img-responsive") %>
					</p>

					<br>

					<h4>LawFrim-为你摆平一起</h4>
					<p>法律网站描述</p>
					<p>
						<%= image_tag("法律.jpg", class: "img-responsive") %>
					</p>

					<br>

					<h4>Eatgether-好玩不尴尬,吃饭认识TA</h4>
					<p>Eatgether描述</p>
					<p>
					  <%= image_tag("约饭.jpg", class: "img-responsive")%>
					</p>
				</article>
			</div>

			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>联系方式</h1>
			</div>

			<div class="sectionContent">
				<article>
					<ul>
						<li>手机：188-8888-8888 </li>
						<li>邮箱：resumehack@fullstack.com </li>
						<li>GitHub：https://github.com/ResumeHack </li>
						<li>技术博客：https://resumehack.logdown.com</li>
					</ul>
				</article>
			</div>

			<div class="clear"></div>
		</section>

	</div>
</div>
</div>
