<footer class="page-footer">
  <div class="container">
   <div class="row page-footer-top">
     <div class="row page-footer-bottom">
  		<aside class="col-xs-3">
  			<a href="/" >
					<%= image_tag "RHLogo_v1.png", style: "max-width:118px" %>
  			</a>

  		</aside>
  		<aside class="col-lg-3 col-md-4 col-xs-5">
          	<h5 class="title">客户服务</h5>
          		<address>
  					<a href="mailto:dyz2102@gmail.com">customerservice@resumehack.com
  					</a><br/>
          			(+86)138-1159-9021
          		</address>
        	</aside>
        	<aside class="col-lg-3 col-xs-4">
          	<h5 class="title">与我们保持联系</h5>
          		<ul class="social-links">
            			<li> <a target="_blank" href="https://github.com/ResumeHack"> <i class="fa fa-github"></i></a> </li>
            			<li> <a target="_blank" href="https://github.com/ResumeHack"> <i class="fa fa-facebook"></i></a> </li>
            			<li> <a target="_blank" href="https://github.com/ResumeHack"> <i class="fa fa-twitter"></i></a> </li>
            			<li> <a target="_blank" href="https://github.com/ResumeHack"> <i class="fa fa-pinterest"></i></a> </li>
          		</ul>
        	</aside>
					<aside>
						<br><br>
						<address>由全栈营ResumeHack小组制作</address>
						<address>© 2016 Team ResumeHack</address>
					</aside>
      </div>
    </div>
  </div>
</footer>
