<div class="container">
<div class="form-bootstrapWizard">
	 <ul class="bootstrapWizard form-wizard">
			 <% if current_page?(page1_user_resumes_path(@resumes)) %><li class="active"><% else %><li><% end %>
					 <a href=" " data-toggle=" " class=" "> <span class="step">1</span> <span class="title">一句话</span> </a>
			 </li>

			 <% if current_page?(page2_user_resume_path(@resume)) %><li class="active"><% else %><li><% end %>
					 <a href=" " data-toggle=" " class=" "> <span class="step">2</span> <span class="title">个人简介</span> </a>
			 </li>

			 <% if current_page?(page3_user_resume_path(@resume)) %><li class="active"><% else %><li><% end %>
					 <a href=" " data-toggle=" " class="active"> <span class="step">3</span> <span class="title">过往经历</span> </a>
			 </li>

			 <% if current_page?(page4_user_resume_path(@resume)) %><li class="active"><% else %><li><% end %>
					 <a href=" " data-toggle=" "> <span class="step">4</span> <span class="title">为何应聘</span> </a>
			 </li>

			 <% if current_page?(page5_user_resume_path(@resume)) %><li class="active"><% else %><li><% end %>
					 <a href=" " data-toggle=" "> <span class="step">5</span> <span class="title">为何选你</span> </a>
			 </li>
			 <% if current_page?(page6_user_resume_path(@resume)) %><li class="active"><% else %><li><% end %>
					 <a href=" " data-toggle=" "> <span class="step">6</span> <span class="title">项目展示</span> </a>
			 </li>
			 <% if current_page?(page7_user_resume_path(@resume)) %><li class="active"><% else %><li><% end %>
					 <a href=" " data-toggle=" "> <span class="step">7</span> <span class="title">联系资讯</span> </a>
			 </li>
			 <% if current_page?(user_resume_preview_path(@resume)) %><li class="active"><% else %><li><% end %>
					 <a href=" " data-toggle=" "> <span class="step">8</span> <span class="title">生成简历</span> </a>
			 </li>
	 </ul>
	 <div class="clearfix"></div><br><br>
</div>
</div>
